#
# Sample DevStack local.conf.
#
# Some options need to be changed to adapt to your environment, see README.rst
# for detail.
#

[[local|localrc]]

DATABASE_PASSWORD=password
RABBIT_PASSWORD=password
SERVICE_PASSWORD=password
SERVICE_TOKEN=password
ADMIN_PASSWORD=password

HOST_IP=162.3.124.203

TRIO2O_START_SERVICES=True
enable_plugin trio2o https://github.com/openstack/trio2o/

TRICIRCLE_START_SERVICES=True
enable_plugin tricircle https://github.com/openstack/tricircle/

disable_service horizon
