#
# Sample DevStack local.conf.sample
#
# This sample file is intended to be used for your typical Trio2o DevStack
# environment that's running Trio2o and one bottom OpenStack Pod1 on a
# single host.
#
# Changes HOST_IP in this sample configuration are required.
#

[[local|localrc]]

DATABASE_PASSWORD=password
RABBIT_PASSWORD=password
SERVICE_PASSWORD=password
SERVICE_TOKEN=password
ADMIN_PASSWORD=password

# Enable Trio2o
TRIO2O_START_SERVICES=True
enable_plugin trio2o https://github.com/openstack/trio2o/

# Change the HOST_IP address to the host's IP address where
# the Trio2o is running
HOST_IP=162.3.124.203

disable_service horizon
